*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vmin 3rem 5rem 25rem;
  align-items: center;
  justify-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: black;
  color: #ccc;
}

.bg {
  opacity: .2;
  z-index: -1;
  position: absolute;
  top: -2rem;
  left: -1rem;
  height: 100vh;
  width: 100vw;
  background-image: url("public/bg.png");
}

h1 {
  text-align: center;
  align-self: self-end;
  font-size: 2rem;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

button {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  padding: 0;
  font: inherit;
  outline: inherit;
  height: 3.5rem;
  width: 5.5rem;
  background-color:#f2bf30;
  border: .2rem solid #333;
  border-radius: 8px;
}

#slot-machine {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  height: 25rem;
  width: 33vw;
}

#slot-machine img {
  background-color: #eee;
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}